@charset "UTF-8";

body{
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

div#interface{
    width: 1200px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
}

p{
    text-align: justify;
    text-indent: 50px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px;
}

header#cabecalho h1{
    font-family: Arial, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho img#icone{
    position: absolute;
    left: 60px;
    top: 85px;
    max-width:250px;
    max-height:200px;
    width: auto;
    height: auto;
}

nav#menu{
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 820px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #606060;
}

/*MENU DO USUARIO*/

nav#login{
    display: block;
}

nav#login ul{
    list-style: none;
    position: absolute;
    top: 125px;
    left: 920px;
}

nav#login li{
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

nav#login li:hover{
    text-decoration: underline;
}

section#corpo{
    display: block;
    width: 640px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

section#corpo div img#imgCla{
	max-width:450px;
    max-height:400px;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

section#corpo ul{
    list-style: none;
}

section#corpo ul li div#titulo h1{
    font-size: 18pt;
    margin: 0px;
}

section#corpo ul li div#titulo h3{
    color: #606060;
    font-size: 13pt;
    margin: 0px;
    text-indent: 35px;
}

section#corpo ul li div#titulo a{
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #888888;
}

section#corpo ul li div#titulo img#imgLista{
    float: left;
    position: relative;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

section#corpo ul li{
	border-bottom: 1px dashed #606060;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

table#tabela{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #606060;
	border-spacing: 0px;
	text-align: center;
	vertical-align: center;
}

table#tabela td{
	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: middle;

}

section#corpo-full ul{
    list-style: none;
}

section#corpo-full ul li div#titulo h1{
    font-size: 18pt;
    margin: 0px;
}

section#corpo-full ul li div#titulo h3{
    color: #606060;
    font-size: 13pt;
    margin: 0px;
    text-indent: 35px;
}

section#corpo-full ul li div#titulo a{
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #888888;
}

section#corpo-full ul li div#titulo img#imgLista{
    float: left;
    position: relative;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

section#corpo-full table#tabela tr td img#imgListaUsuario{
    float: left;
    max-width:150px;
    max-height:100px;
    width: auto;
    height: auto;
}

section#corpo-full ul li{
	border-bottom: 1px dashed #606060;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

header#noticia h1{
    font-family: Arial, sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#noticia h1.subtitulo{
    font-size: 15pt;
}

.direita{
    text-align: right;
}

header#noticia h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#noticia h3{
    font-size: 13pt;
    color: #606060;
}

section#corpo-full img#imgNoticia{
	box-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

section#corpo-full div#comentarios a{
	margin-top: 0px;
	color: #888888;
}

section#corpo-full div#comentarios h2{
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 13pt;
	color: rgba(0,0,0,.9);
}

section#corpo-full div#comentarios h3{
	font-size: 12pt;
	text-indent: 30px;
	margin-top: 0px;
	color: rgba(0,0,0,.7);
}

aside#lateral{
    text-align: center;
    display: block;
    width: 510px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral ul{
    list-style: none;
}

aside#lateral a{
    color: black;
}

footer#rodape{
	margin-top: 30px;
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p{
    text-align: center;
}
